<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scientific.maths.financial.multiple.converter.all.tools.solution.appcalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Unit.UnitLoan"
            android:label="Loan Calculator"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Unit.UnitFD"
            android:label="Fixed Deposit"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Calculator.StandardCal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit.UnitSIP"
            android:label="SIP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unit.UnitEMI"
            android:label="EMI"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Calculator.MainActivity" />
        <activity
            android:name=".Calculator.ScientificCal"
            android:label="@string/title_activity_scientific_cal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unit.UnitConverter"
            android:label="@string/title_activity_unit_coverter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unit.UnitArea"
            android:label="@string/title_activity_unit_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unit.UnitLength"
            android:label="@string/title_activity_unit_length"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unit.UnitWeight"
            android:label="@string/title_activity_unit_weight"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Unit.UnitTemperature"
            android:label="@string/title_activity_unit_temperature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Data.History"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>